/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td, img { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul { list-style:none }
a { color:#333; text-decoration: none; }
a:hover,a:visited{ border:none; color:#333;}
html{ width:100%; height:100%;}
body {font-family:Microsoft YaHei; font-size:12px;font-weight:normal;background:#f0efed;}
h1, h2, h3, h4, h5, h6 { font-size:100% }

/* CSS header */
header{ position:fixed;top:0;width:100%;}
.header_wrap{background:url(../images/top_bg.jpg) no-repeat center top;background-size:100%;width:100%;padding:5px 10px; overflow:hidden;height:87px;margin:0 auto; box-sizing:border-box; position:relative;}
.header_l{float:left;color:#dff0ec; transform:scale(0.9);-moz-transform:scale(0.9);-webkit-transform:scale(0.9);margin: 0 0 0 -10px;}
.header_m{width:60px;margin:0 auto;position: absolute;left: 50%;top:41%;-webkit-transform: translate(-50%, -50%) ;-moz-transform: translate(-50%, -50%) ;-ms-transform: translate(-50%, -50%) ;-o-transform: translate(-50%, -50%) ;transform: translate(-50%, -50%) ;}
.header_m_img img{width:100%;; border-radius:48px;}
.header_m_tx{position: absolute;left: 49%;top:86%;-webkit-transform: translate(-25%, -50%) ;-moz-transform: translate(-25%, -50%) ;-ms-transform: translate(-25%, -50%) ;-o-transform: translate(-25%, -50%) ;transform: translate(-25%, -50%) ;}
.header_m_tx{color:#fff;}
.header_m_tx span:first-child{padding:0 10px 0 0;font-size:15px;}
.header_m_tx span:nth-child(2){background:url(../images/huangg.jpg) no-repeat center top;background-size:18px 14px;color:#af4343; display:inline-block;width:18px;height:14px;text-align: center;font-size:6px;line-height:22px;}
.header_m_tx span:nth-child(3){background:#fcd74f; display:inline-block;height:10px;text-align: center;font-size: 9px; border-radius:5px;transform:scale(0.8);-moz-transform:scale(0.8);-webkit-transform:scale(0.8);width: 35px;line-height: 10px;}
.header_r{float:right;color:#dff0ec;}
.header_r a{color:#dff0ec;}

/* CSS footer */
footer{width:100%;height:60px;background:#27cebc;overflow:hidden; position:fixed;bottom:0;margin:0 auto;}
footer ul{width:100%;height:auto;overflow:hidden; text-align:center;}
footer ul li{display:inline-block;margin:0 6%;background:url(../images/icon1.gif) no-repeat center 10px;background-size:29px 25px;position: relative;}
footer ul li:nth-child(2){background:url(../images/icon2.gif) no-repeat center 10px;background-size:29px 25px;}
footer ul li:nth-child(3){background:url(../images/icon3.gif) no-repeat center 10px;background-size:29px 25px;}
footer ul li:nth-child(4){background:url(../images/icon4.gif) no-repeat center 10px;background-size:29px 25px;}
footer ul li a{color:#7c7c7c;font:normal 14px "Microsoft YaHei";padding:35px 0 0 0;display:inline-block;}
footer ul li:hover a{background:url(../images/icon1_hover.gif) no-repeat center 10px;background-size:29px 25px;color:#fff;}
footer ul li:hover:nth-child(2) a{background:url(../images/icon2_hover.gif) no-repeat center 10px;background-size:29px 25px;}
footer ul li:hover:nth-child(3) a{background:url(../images/icon3_hover.gif) no-repeat center 10px;background-size:29px 25px;}
footer ul li:hover:nth-child(4) a{background:url(../images/icon4_hover.gif) no-repeat center 10px;background-size:29px 25px;}
.bubble{background: #e02424;position: absolute;right:-19px;top: 3px;padding: 2px 6px;color: #fff;font:normal 12px "Microsoft YaHei";-moz-border-radius: 20px;-webkit-border-radius:20px;border-radius:20px;}

/* CSS content */
.content{width:95%;margin:0 auto;}
.content{border:1px solid #9f9f9f; border-radius:5px;margin:10px auto 0;background:#fff;}
.content_gwsy li{border-bottom:1px solid #9f9f9f;padding:5% 5%;}
.content_gwsy li:first-child{background: url(../images/icon1.jpg) no-repeat 5% center;background-size:15%;padding:10% 5%;}
.content_gwsy li:nth-child(2){background: url(../images/icon2.jpg) no-repeat 5% center;background-size:15%;}
.content_gwsy li:nth-child(3){background: url(../images/icon3.jpg) no-repeat 5% center;background-size:15%;}
.content_gwsy li:nth-child(4){background: url(../images/icon4.jpg) no-repeat 5% center;background-size:15%;}
.content_gwsy li:nth-child(5){background: url(../images/icon5.jpg) no-repeat 5% center;background-size:15%;}
.content_gwsy li:nth-child(6){background: url(../images/icon6.jpg) no-repeat 5% center;background-size:15%;}
.content_gwsy li:last-child{border-bottom:none;background: url(../images/icon7.jpg) no-repeat 5% center;background-size:15%;}
.content_gwsy li span{display:inline-block;}
.content_gwsy li span:nth-child(1){color:#000;font:normal 18px "黑体";margin:0 0 0 19%;}
.content_gwsy li span:nth-child(2){color:#bababa;font:normal 13px "黑体";margin:0 0 0 3%;}
.content_gwsy li span:nth-child(3){color:#fff;float:right;}
.content_gwsy li .a2{display:block;color:#fff;background:#a8e26a;font:normal 15px "黑体";padding:2px 1px;border-radius:3px;}
















































